body {
  font-family: "Poppins", serif;
}
.w-85 {
  width: 85%;
}
.quotes {
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(../images/overlay-bg.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
}
.bg-color {
  background-color: #0d1117;
}
.btn-dark {
  --bs-btn-bg: #0d1117;
  --bs-btn-hover-bg: #080a0e;
  --bs-btn-active-bg: #0d1117;
}
